In [27]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import io

In [28]:
pip install spacy

Requirement already satisfied: spacy in c:\users\shushant.ghosh\anaconda3\lib\site-packages (2.3.2)
Requirement already satisfied: setuptools in c:\users\shushant.ghosh\anaconda3\lib\site-packages (from spacy) (49.2.0)
Requirement already satisfied: numpy>=1.15.0 in c:\users\shushant.ghosh\anaconda3\lib\site-packages (from spacy) (1.19.1)
Requirement already satisfied: catalogue<1.1.0,>=0.0.7 in c:\users\shushant.ghosh\anaconda3\lib\site-packages (from spacy) (1.0.0)
Requirement already satisfied: requests<3.0.0,>=2.13.0 in c:\users\shushant.ghosh\anaconda3\lib\site-packages (from spacy) (2.22.0)
Requirement already satisfied: blis<0.5.0,>=0.4.0 in c:\users\shushant.ghosh\anaconda3\lib\site-packages (from spacy) (0.4.1)
Requirement already satisfied: preshed<3.1.0,>=3.0.2 in c:\users\shushant.ghosh\anaconda3\lib\site-packages (from spacy) (3.0.3)
Requirement already satisfied: tqdm<5.0.0,>=4.38.0 in c:\users\shushant.ghosh\anaconda3\lib\site-packages (from spacy) (4.42.1)
Requirement already satisfied: murmurhash<1.1.0,>=0.28.0 in c:\users\shushant.ghosh\anaconda3\lib\site-packages (from spacy) (1.0.4)
Requirement already satisfied: plac<1.2.0,>=0.9.6 in c:\users\shushant.ghosh\anaconda3\lib\site-packages (from spacy) (1.1.3)
Requirement already satisfied: wasabi<1.1.0,>=0.4.0 in c:\users\shushant.ghosh\anaconda3\lib\site-packages (from spacy) (0.8.0)
Requirement already satisfied: thinc==7.4.1 in c:\users\shushant.ghosh\anaconda3\lib\site-packages (from spacy) (7.4.1)
Requirement already satisfied: srsly<1.1.0,>=1.0.2 in c:\users\shushant.ghosh\anaconda3\lib\site-packages (from spacy) (1.0.3)
Requirement already satisfied: cymem<2.1.0,>=2.0.2 in c:\users\shushant.ghosh\anaconda3\lib\site-packages (from spacy) (2.0.4)
Requirement already satisfied: importlib-metadata>=0.20; python_version < "3.8" in c:\users\shushant.ghosh\anaconda3\lib\site-packages (from catalogue<1.1.0,>=0.0.7->spacy) (1.5.0)
Requirement already satisfied: idna<2.9,>=2.5 in c:\users\shushant.ghosh\anaconda3\lib\site-packages (from requests<3.0.0,>=2.13.0->spacy) (2.8)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\users\shushant.ghosh\anaconda3\lib\site-packages (from requests<3.0.0,>=2.13.0->spacy) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\shushant.ghosh\anaconda3\lib\site-packages (from requests<3.0.0,>=2.13.0->spacy) (2019.11.28)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\shushant.ghosh\anaconda3\lib\site-packages (from requests<3.0.0,>=2.13.0->spacy) (1.25.8)
Requirement already satisfied: zipp>=0.5 in c:\users\shushant.ghosh\anaconda3\lib\site-packages (from importlib-metadata>=0.20; python_version < "3.8"->catalogue<1.1.0,>=0.0.7->spacy) (2.2.0)
Note: you may need to restart the kernel to use updated packages.

In [29]:
import spacy
import nltk
import numpy as np
from sklearn.model_selection import train_test_split

In [30]:
pd.set_option('display.max_rows', 1000)

In [31]:
from nltk import FreqDist
nltk.download('stopwords')
nltk.download('vader_lexicon')
nltk.download('punkt')
nltk.download('averaged_perceptron_tagger')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\shushant.ghosh\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\shushant.ghosh\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\shushant.ghosh\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\shushant.ghosh\AppData\Roaming\nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

True

In [32]:
nlp = spacy.load('en_core_web_sm')

In [33]:
!pip install autocorrect
from autocorrect import Speller
spell = Speller(lang='en')

Requirement already satisfied: autocorrect in c:\users\shushant.ghosh\anaconda3\lib\site-packages (2.2.2)

In [34]:
import re
from nltk import word_tokenize
from nltk.classify import NaiveBayesClassifier
from nltk.sentiment import SentimentAnalyzer
from nltk.sentiment.util import extract_unigram_feats, mark_negation

In [35]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer
sid = SentimentIntensityAnalyzer()

In [90]:
import speech_recognition as sr

In [118]:
filename = "voice2.wav"

In [119]:
r = sr.Recognizer()

In [126]:
with sr.AudioFile(filename) as source:
    # listen for the data (load audio to memory)
    audio_data = r.record(source)
    # recognize (convert from speech to text)
    text = r.recognize_sphinx(audio_data)
    print(text)

RequestError: missing PocketSphinx module: ensure that PocketSphinx is set up correctly.

In [116]:
from punctuator import Punctuator
p = Punctuator('model.pcl')
print(p.punctuate(text))

WARNING (theano.configdefaults): g++ not available, if using conda: `conda install m2w64-toolchain`
C:\Users\shushant.ghosh\anaconda3\lib\site-packages\theano\configdefaults.py:560: UserWarning: DeprecationWarning: there is no c++ compiler.This is deprecated and with Theano 0.11 a c++ compiler will be mandatory
  warnings.warn("DeprecationWarning: there is no c++ compiler."
WARNING (theano.configdefaults): g++ not detected ! Theano will be unable to execute optimized C-implementations (for both CPU and GPU) and will default to Python implementations. Performance will be severely degraded. To remove this warning, set Theano flags cxx to an empty string.
WARNING (theano.tensor.blas): Using NumPy C-API based implementation for BLAS functions.

AssertionError: Model None does not exist.

In [36]:
DF=pd.read_csv("DF2.csv")

In [37]:
DF.drop(['Unnamed: 0'],axis=1,inplace=True)

In [38]:
DF=DF[['reviews.text','reviews.rating','id']]

In [39]:
DF.shape

(10964, 3)

In [101]:
DF['reviews.text'][0]

'Good basic tablet for checking email , web browsing , and reading ebooks.'

In [100]:
DF.head()

,reviews.text,reviews.rating,id,nounsM1,nounsBigra,nounsTrigra,nounsM2,reviews.wordCount,aspect1.len,aspect2.len,...,Pos_Sc,Neg_Sc,PAs,NAs,NeuAs,SCORE,MAGNI,DELI,finalAspCount,rate
0,"Good basic tablet for checking email , web bro...",4,AVphgVaX1cnluZ0-DR74,"[email, reading, ebook, web, tablet]","[tablet, email]","[tablet, tablet]","[tablet, email]",13,5,2,...,0.4404,0.0,2,0,2,0.4404,0.4404,0,4,5.000000
1,I love this tablet. It was a great buy. I woul...,5,AVphgVaX1cnluZ0-DR74,"[buy, love, web, reader, surfing]","[buy, reader]","[tablet, i, web]","[i, buy, web, tablet, reader]",26,5,5,...,2.3271,0.0,5,0,0,2.8845,2.8845,0,5,4.613521
2,"Brought my old tablet in to my local store, an...",5,AVphgVaX1cnluZ0-DR74,"[use, love, price, tablet, store, firsdt]","[tablet, store, iit, price]","[i, i, tablet, tablet, tablet, price]","[i, price, tablet, store, iit]",46,6,5,...,0.8122,0.0,2,0,6,1.2710,1.2710,0,8,4.278049
3,Good Inexpensive tablet for someone that does ...,4,AVphgVaX1cnluZ0-DR74,[tablet],[tablet],"[tablet, someone]","[tablet, someone]",12,1,2,...,0.4404,0.0,1,0,0,0.4404,0.4404,0,1,5.000000
4,I got this for my niece. I would say this prod...,4,AVphgVaX1cnluZ0-DR74,"[kid, bank, product, game, play, video, break]","[i, product, product]","[i, product, product, bank]","[i, bank, product]",46,7,3,...,0.9649,0.0,2,0,3,0.9649,0.9649,0,5,5.000000

In [41]:
# remove unwanted characters, numbers and symbols
aspect =DF['reviews.text'].str.replace("[^a-zA-Z#]", " ")

In [42]:
from nltk.corpus import stopwords
stop_words = stopwords.words('english')

In [43]:
# function to remove stopwords
def remove_stopwords(rev):
    rev_new = " ".join([i for i in rev if i not in stop_words])
    return rev_new

# remove short words (length < 3)
aspect = aspect.apply(lambda x: ' '.join([w for w in x.split() if len(w)>2]))

# remove stopwords from the text
reviews = [remove_stopwords(r.split()) for r in aspect]

# make entire text lowercase
reviews = [r.lower() for r in reviews]

In [44]:
# nlp = spacy.load('en', disable=['parser', 'ner'])

def lemmatization(texts, tags=['NOUN']): # filter noun
       output = []
       for sent in texts:
             doc = nlp(" ".join(sent)) 
             output.append([token.lemma_ for token in doc if token.pos_ in tags])
       return output

In [45]:
tokenized_reviews = pd.Series(reviews).apply(lambda x: x.split())

In [46]:
DF.head()

,reviews.text,reviews.rating,id
0,"Good basic tablet for checking email , web bro...",4,AVphgVaX1cnluZ0-DR74
1,I love this tablet. It was a great buy. I woul...,5,AVphgVaX1cnluZ0-DR74
2,"Brought my old tablet in to my local store, an...",5,AVphgVaX1cnluZ0-DR74
3,Good Inexpensive tablet for someone that does ...,4,AVphgVaX1cnluZ0-DR74
4,I got this for my niece. I would say this prod...,4,AVphgVaX1cnluZ0-DR74

In [47]:
print(tokenized_reviews[0])

['good', 'basic', 'tablet', 'checking', 'email', 'web', 'browsing', 'reading', 'ebooks']

In [48]:
reviews_2 = lemmatization(tokenized_reviews)
# print lemmatized review

In [49]:
reviews_2[0]

['tablet', 'email', 'web', 'reading', 'ebook']

In [50]:
 DF['nounsM1']=reviews_2

In [51]:
DF['nounsBigra']=0

In [52]:
DF['nounsTrigra']=0

In [53]:
def IMPbigra(A):
  Noun=[] 
  A=A.lower()
  arr=re.split(' and | but | or |\\.|\\,',A)
  for line in arr: 
    line=spell(line)
    nt = nltk.word_tokenize(line)
    POS=nltk.pos_tag(nt)
    POS=set(POS)
    DIC=dict(POS)
    bigra=list(nltk.bigrams(nt))
    for bi in bigra:
      if(DIC[bi[0]] in ['JJ','JJR','JJS','RB','RBR','RBS','VB','VBD','VBG','VBN','VBP','VBZ'] and DIC[bi[1]] in ['NNP','NN']):
        Noun.append(bi[1])
      elif(DIC[bi[1]] in ['JJ','JJR','JJS','RB','RBR','RBS','VB','VBD','VBG','VBN','VBP','VBZ'] and DIC[bi[0]] in ['NNP','NN']):
        Noun.append(bi[0])
    
  return Noun

In [54]:
DF['nounsBigra']=DF['reviews.text'].apply(IMPbigra)

In [55]:
def IMPtrigra(A):
  Noun=[] 
  A=A.lower()
  arr=re.split(' and | but | or |\\.|\\,',A)
  for line in arr: 
    line=spell(line)
    nt = nltk.word_tokenize(line)
    POS=nltk.pos_tag(nt)
    POS=set(POS)
    DIC=dict(POS)
    trigra=list(nltk.trigrams(nt))
    for tri in trigra:
      if(DIC[tri[0]] in ['JJ','JJR','JJS','RB','RBR','RBS','VB','VBD','VBG','VBN','VBP','VBZ'] and DIC[tri[2]] in ['NNP','NN']):
        Noun.append(tri[2])
      elif(DIC[tri[2]] in ['JJ','JJR','JJS','RB','RBR','RBS','VB','VBD','VBG','VBN','VBP','VBZ'] and DIC[tri[0]] in ['NNP','NN']):
        Noun.append(tri[0])
  return Noun

In [56]:
DF['nounsTrigra']=DF['reviews.text'].apply(IMPtrigra)

In [57]:
DF['nounsM2']=DF['nounsBigra']+DF['nounsTrigra']

In [58]:
def toList(A):
    A=list(set(A))
    return A

In [59]:
DF['nounsM1']=DF['nounsM1'].apply(toList)
DF['nounsM2']=DF['nounsM2'].apply(toList)

In [60]:
def wordCount(A):
    return len(A.split())
DF['reviews.wordCount']=DF['reviews.text'].apply(wordCount)

In [61]:
DF['aspect1.len']=DF['nounsM1'].apply(len)
DF['aspect2.len']=DF['nounsM2'].apply(len)

In [62]:
def commonAspect(A,B):
    return list(set(A) & set(B))

In [63]:
DF['M1.M2'] = DF.apply(lambda x: commonAspect(x['nounsM1'], x['nounsM2']), axis=1)

In [64]:
def TotalAspect(A,B):
    return list(set(A + B))

In [65]:
DF['M1+M2']=DF.apply(lambda x: TotalAspect(x['nounsM1'], x['nounsM2']), axis=1)

In [66]:
def aspStop(A):
  B=[]  
  for i in A:
    B.append(spell(i))
  reviews = [remove_stopwords(B)]
  reviews=reviews[0].split()
  return reviews
DF['M1+M2']=DF['M1+M2'].apply(aspStop)

In [67]:
Rela=['father','mother','parent','son','kid','boy','girl','daughter','child','husband','wife','spouse','brother','sister','sibling','grandfather','grandmother','grandparents','grandson','granddaughter','toddler','thought','grandchild','uncle','aunt','nephew','niece','cousin','love','bang','someone']

In [68]:
def relaRemove(A):
  for i in A:
    if(i in Rela):
      A.remove(i)
  return A
DF['M1+M2']=DF['M1+M2'].apply(relaRemove)

In [69]:
L=['delivery','shipping','package','packaging','shipment']

In [70]:
DF.head(10)

,reviews.text,reviews.rating,id,nounsM1,nounsBigra,nounsTrigra,nounsM2,reviews.wordCount,aspect1.len,aspect2.len,M1.M2,M1+M2
0,"Good basic tablet for checking email , web bro...",4,AVphgVaX1cnluZ0-DR74,"[email, reading, ebook, web, tablet]","[tablet, email]","[tablet, tablet]","[tablet, email]",13,5,2,"[tablet, email]","[email, reading, ebook, web, tablet]"
1,I love this tablet. It was a great buy. I woul...,5,AVphgVaX1cnluZ0-DR74,"[buy, love, web, reader, surfing]","[buy, reader]","[tablet, i, web]","[i, buy, web, tablet, reader]",26,5,5,"[web, buy, reader]","[buy, web, tablet, reader, surfing]"
2,"Brought my old tablet in to my local store, an...",5,AVphgVaX1cnluZ0-DR74,"[use, love, price, tablet, store, firsdt]","[tablet, store, iit, price]","[i, i, tablet, tablet, tablet, price]","[i, price, tablet, store, iit]",46,6,5,"[tablet, store, price]","[use, price, tablet, store, first, iit]"
3,Good Inexpensive tablet for someone that does ...,4,AVphgVaX1cnluZ0-DR74,[tablet],[tablet],"[tablet, someone]","[tablet, someone]",12,1,2,[tablet],[tablet]
4,I got this for my niece. I would say this prod...,4,AVphgVaX1cnluZ0-DR74,"[kid, bank, product, game, play, video, break]","[i, product, product]","[i, product, product, bank]","[i, bank, product]",46,7,3,"[product, bank]","[bank, product, game, play, video, break]"
5,A great product for my kids and great learning...,5,AVphgVaX1cnluZ0-DR74,"[learning, product, app, store]","[product, apps]",[apps],"[product, apps]",14,4,2,[product],"[apps, product, learning, app, store]"
6,Purchased for my toddler. Best investment yet....,5,AVphgVaX1cnluZ0-DR74,"[investment, plan, purchase, protection, toddl...","[investment, investment]","[protection, purchase]","[investment, protection, purchase]",19,6,3,"[investment, protection, purchase]","[investment, plan, purchase, protection, purpose]"
7,Buying this device I thought it could replace ...,3,AVphgVaX1cnluZ0-DR74,"[watch, use, kid, application, video, device, ...","[i, video]","[device, phone]","[video, i, device, phone]",37,8,4,"[video, device, phone]","[watch, use, application, video, device, phone]"
8,This is a great tablet for us seniors because ...,5,AVphgVaX1cnluZ0-DR74,"[buy, use, batteryseem, eye, size, senior, tim...","[tablet, screen, size, tablet, tablet, time, buy]","[screen, size, tablet, tablet, batteryseems]","[buy, size, time, screen, tablet, batteryseems]",54,10,6,"[buy, size, time, screen, tablet]","[buy, batteryseem, use, eye, size, senior, tim..."
9,Nice tablet for the price. Got it for my son B...,5,AVphgVaX1cnluZ0-DR74,"[kid, law, price, case, brother, tablet]","[tablet, law, tablet]","[case, case]","[tablet, case, law]",36,6,3,"[tablet, case, law]","[price, law, case, tablet]"

In [71]:
def SeptCol(text,asp):
  MAGNI=0 
  Pos_Sc=0
  Neg_Sc=0
  PAs=0
  NAs=0
  NeuAs=0
  SCORE=0
  Deli1=0
  arr=re.split(' and | but | or |\\.|\\,',text)
  for line in arr:
    Deli=0    
    flag=0
    score=0   
    aspCount=0
    line=line.lower()
    line=spell(line)
    if((line.find("n't")>=0) | (line.find("not")>=0)):
      for W in line.split():
        if(flag==0):
          if((W.find("n't")>=0) | (W.find("not")>=0)):
            flag=1
          else:
            if(W in asp):
              aspCount=aspCount+1 
            if(W in L):
              Deli=Deli+1  
            score=score+sid.polarity_scores(W)['compound']
        else:
          if(W in asp):
            aspCount=aspCount+1
          if(W in L):
              Deli=Deli+1  
          score=score-sid.polarity_scores(W)['compound']
          
      if(aspCount>0):
        if(score>0):
          PAs=PAs+aspCount
          Pos_Sc=Pos_Sc+score
        elif(score<0):
          NAs=NAs+aspCount
          Neg_Sc=Neg_Sc+score
        else:
          NeuAs=NeuAs+aspCount
      if(Deli>0):
        if(score<0):
          Deli1=1  
      SCORE=SCORE+score  
      MAGNI=MAGNI+abs(score)
    else:
      if(any(ele in line.split() for ele in L)):
        Deli=Deli+1
      for i in asp:
        if(i in line.split()):
          aspCount=aspCount+1  
      score=sid.polarity_scores(line)['compound']
      MAGNI=MAGNI+abs(sid.polarity_scores(line)['compound'])   
      if(aspCount>0):
        if(score>0):
          PAs=PAs+aspCount
          Pos_Sc=Pos_Sc+score
        elif(score<0):
          NAs=NAs+aspCount
          Neg_Sc=Neg_Sc+score
        else:
          NeuAs=NeuAs+aspCount
      if(Deli>0):
        if(score<0):
          Deli1=1  
      SCORE=SCORE+score
  RetList=[Pos_Sc,Neg_Sc,PAs,NAs,NeuAs,SCORE,MAGNI,Deli1]
  return RetList

In [72]:
DF['SeptCol']=DF.apply(lambda x: SeptCol(x['reviews.text'], x['M1+M2']), axis=1)

In [73]:
DF.head()

,reviews.text,reviews.rating,id,nounsM1,nounsBigra,nounsTrigra,nounsM2,reviews.wordCount,aspect1.len,aspect2.len,M1.M2,M1+M2,SeptCol
0,"Good basic tablet for checking email , web bro...",4,AVphgVaX1cnluZ0-DR74,"[email, reading, ebook, web, tablet]","[tablet, email]","[tablet, tablet]","[tablet, email]",13,5,2,"[tablet, email]","[email, reading, ebook, web, tablet]","[0.4404, 0, 2, 0, 2, 0.4404, 0.4404, 0]"
1,I love this tablet. It was a great buy. I woul...,5,AVphgVaX1cnluZ0-DR74,"[buy, love, web, reader, surfing]","[buy, reader]","[tablet, i, web]","[i, buy, web, tablet, reader]",26,5,5,"[web, buy, reader]","[buy, web, tablet, reader, surfing]","[2.3271, 0, 5, 0, 0, 2.8844999999999996, 2.884..."
2,"Brought my old tablet in to my local store, an...",5,AVphgVaX1cnluZ0-DR74,"[use, love, price, tablet, store, firsdt]","[tablet, store, iit, price]","[i, i, tablet, tablet, tablet, price]","[i, price, tablet, store, iit]",46,6,5,"[tablet, store, price]","[use, price, tablet, store, first, iit]","[0.8122, 0, 2, 0, 6, 1.271, 1.271, 0]"
3,Good Inexpensive tablet for someone that does ...,4,AVphgVaX1cnluZ0-DR74,[tablet],[tablet],"[tablet, someone]","[tablet, someone]",12,1,2,[tablet],[tablet],"[0.4404, 0, 1, 0, 0, 0.4404, 0.4404, 0]"
4,I got this for my niece. I would say this prod...,4,AVphgVaX1cnluZ0-DR74,"[kid, bank, product, game, play, video, break]","[i, product, product]","[i, product, product, bank]","[i, bank, product]",46,7,3,"[product, bank]","[bank, product, game, play, video, break]","[0.9649000000000001, 0, 2, 0, 3, 0.96490000000..."

In [74]:
def splitCol(A,index):
  return A[index]

In [75]:
DF['Pos_Sc']=DF.apply(lambda x: splitCol(x['SeptCol'], 0), axis=1)
DF['Neg_Sc']=DF.apply(lambda x: splitCol(x['SeptCol'], 1), axis=1)
DF['PAs']=DF.apply(lambda x: splitCol(x['SeptCol'], 2), axis=1)
DF['NAs']=DF.apply(lambda x: splitCol(x['SeptCol'], 3), axis=1)
DF['NeuAs']=DF.apply(lambda x: splitCol(x['SeptCol'], 4), axis=1)
DF['SCORE']=DF.apply(lambda x: splitCol(x['SeptCol'], 5), axis=1)
DF['MAGNI']=DF.apply(lambda x: splitCol(x['SeptCol'], 6), axis=1)
DF['DELI']=DF.apply(lambda x: splitCol(x['SeptCol'], 7), axis=1)

In [76]:
DF[DF['DELI']==1]

,reviews.text,reviews.rating,id,nounsM1,nounsBigra,nounsTrigra,nounsM2,reviews.wordCount,aspect1.len,aspect2.len,...,M1+M2,SeptCol,Pos_Sc,Neg_Sc,PAs,NAs,NeuAs,SCORE,MAGNI,DELI
8262,Purchased Blue unit - parenthesis below is err...,3,AVphgVaX1cnluZ0-DR74,"[review, receipt, android, week, display, scre...","[unit, below, correction, bb, edit, bare, netf...","[unit, parenthesis, below, correction, bb, edi...","[apps, someone, android, receipt, bare, screen...",345,44,34,...,"[apps, review, receipt, android, week, display...","[3.4754000000000005, -1.7035, 20, 10, 24, 1.52...",3.4754,-1.7035,20,10,24,1.5279,6.2321,1
8274,Good bare bones tablet for anyone if that is a...,3,AVphgVaX1cnluZ0-DR74,"[receipt, android, week, screen, tablet, point...","[bare, netflix, network, amazon, os, android, ...","[performance, amazon, system, device, apps, st...","[apps, someone, android, receipt, bare, netfli...",316,35,26,...,"[apps, receipt, android, week, bare, screen, n...","[2.7172, -1.0753000000000001, 20, 4, 24, 1.397...",2.7172,-1.0753,20,4,24,1.3979,4.8457,1
9047,The biggest drawbacks to this product is the l...,4,AVphgVaX1cnluZ0-DR74,"[instruction, experiment, luck, user, product,...","[product, start, pc, luck]","[lack, instructions/user, problem]","[pc, luck, product, problem, start, instructio...",45,13,7,...,"[instructions/user, instruction, pc, experimen...","[0.7096, -1.3763999999999998, 1, 7, 2, -0.3268...",0.7096,-1.3764,1,7,2,-0.3268,2.4260,1

In [77]:
DF['finalAspCount']=DF['PAs']+DF['NAs']+DF['NeuAs']

In [78]:
DF.shape

(10964, 22)

In [79]:
DF.head()

,reviews.text,reviews.rating,id,nounsM1,nounsBigra,nounsTrigra,nounsM2,reviews.wordCount,aspect1.len,aspect2.len,...,SeptCol,Pos_Sc,Neg_Sc,PAs,NAs,NeuAs,SCORE,MAGNI,DELI,finalAspCount
0,"Good basic tablet for checking email , web bro...",4,AVphgVaX1cnluZ0-DR74,"[email, reading, ebook, web, tablet]","[tablet, email]","[tablet, tablet]","[tablet, email]",13,5,2,...,"[0.4404, 0, 2, 0, 2, 0.4404, 0.4404, 0]",0.4404,0.0,2,0,2,0.4404,0.4404,0,4
1,I love this tablet. It was a great buy. I woul...,5,AVphgVaX1cnluZ0-DR74,"[buy, love, web, reader, surfing]","[buy, reader]","[tablet, i, web]","[i, buy, web, tablet, reader]",26,5,5,...,"[2.3271, 0, 5, 0, 0, 2.8844999999999996, 2.884...",2.3271,0.0,5,0,0,2.8845,2.8845,0,5
2,"Brought my old tablet in to my local store, an...",5,AVphgVaX1cnluZ0-DR74,"[use, love, price, tablet, store, firsdt]","[tablet, store, iit, price]","[i, i, tablet, tablet, tablet, price]","[i, price, tablet, store, iit]",46,6,5,...,"[0.8122, 0, 2, 0, 6, 1.271, 1.271, 0]",0.8122,0.0,2,0,6,1.2710,1.2710,0,8
3,Good Inexpensive tablet for someone that does ...,4,AVphgVaX1cnluZ0-DR74,[tablet],[tablet],"[tablet, someone]","[tablet, someone]",12,1,2,...,"[0.4404, 0, 1, 0, 0, 0.4404, 0.4404, 0]",0.4404,0.0,1,0,0,0.4404,0.4404,0,1
4,I got this for my niece. I would say this prod...,4,AVphgVaX1cnluZ0-DR74,"[kid, bank, product, game, play, video, break]","[i, product, product]","[i, product, product, bank]","[i, bank, product]",46,7,3,...,"[0.9649000000000001, 0, 2, 0, 3, 0.96490000000...",0.9649,0.0,2,0,3,0.9649,0.9649,0,5

In [80]:
indexNames = DF[ DF['MAGNI'] == 0 ].index
 
# Delete these row 
DF.drop(indexNames , inplace=True)

In [81]:
def ratify(PA,NA,T):
    PAR=((PA+NA)/T)*2;
    rate=3+PAR
    return rate

In [82]:
DF['rate']=DF.apply(lambda x: ratify(x['Pos_Sc'], x['Neg_Sc'],x['MAGNI']), axis=1)

In [85]:
DF['reviews.text'][10947]

'This item is a deal at $49. Does everything you need for simple Internet browsing, email, social media and also takes great pictures!'

In [ ]:
DF.head(20)

In [ ]:
cust_rate=round(DF['reviews.rating'].mean(),2)
cust_rate

In [ ]:
final_rate=round(DF['rate'].mean(),2)
final_rate

In [ ]:
D=len(DF[DF['DELI']==1])
deli=round((D/(DF.shape[0]))*100,2)
deli

In [ ]:
print(cust_rate,file=open("C:\\Users\\shushant.ghosh\\MINOR\\new_ext_aman-20201104T173217Z-001\\new_ext_aman\\cust_rate.txt","w"))

In [ ]:
print(final_rate,file=open("C:\\Users\\shushant.ghosh\\MINOR\\new_ext_aman-20201104T173217Z-001\\new_ext_aman\\rev_rate.txt","w"))

In [ ]:
print(deli,file=open("C:\\Users\\shushant.ghosh\\MINOR\\new_ext_aman-20201104T173217Z-001\\new_ext_aman\\deli.txt","w"))